<?xml version="1.0"?>
<configuration>

	<system.webServer>
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<clear />
				<add value="/" />
			</files>
		</defaultDocument>
		<!--<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="400" />
			<remove statusCode="401" />
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="405" />
			<remove statusCode="406" />
			<remove statusCode="408" />
			<remove statusCode="412" />
			<remove statusCode="500" />
			<remove statusCode="501" />
			<remove statusCode="502" />
			<remove statusCode="503" />
			<error statusCode="400" path="/Error/400" responseMode="Redirect" />
			<error statusCode="401" path="/Error/401" responseMode="Redirect" />
			<error statusCode="403" path="/Error/403" responseMode="Redirect" />
			<error statusCode="404" path="/Error/404" responseMode="Redirect" />
			<error statusCode="405" path="/Error/405" responseMode="Redirect" />
			<error statusCode="406" path="/Error/406" responseMode="Redirect" />
			<error statusCode="408" path="/Error/408" responseMode="Redirect" />
			<error statusCode="412" path="/Error/412" responseMode="Redirect" />
			<error statusCode="500" path="/Error/500" responseMode="Redirect" />
			<error statusCode="501" path="/Error/501" responseMode="Redirect" />
			<error statusCode="502" path="/Error/502" responseMode="Redirect" />
			<error statusCode="503" path="/Error/503" responseMode="Redirect" />
		</httpErrors>-->
	</system.webServer>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5.2"/>
		<!--<customErrors mode="On" defaultRedirect="/Error" redirectMode="ResponseRewrite" />-->
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>

	<connectionStrings>
		<add name="CN" connectionString="Data Source=ASUSFX553VD;Initial Catalog=HMS;Integrated Security=True"/>
	</connectionStrings>
</configuration>